.multi-row {
    list-style: none;
}

.multi-ul {
    padding-left: 5px;
}

.multi-row .delete-multi {
    color: red;
}

.multi-row h5 {
    display: inline-block;
}

.multi-row input {
    display: inline-block;
    width: 75%;
    margin: 0 8px 0 5px;
}
